@font-face {
    font-family: "Roboto Mono";
    src: url("./assets/fonts/RobotoMono-Medium.ttf");
}

:root {
    --foreground: #f4f4f4;
    --background: #303030;
    --button-hover: #afafaf;
    --dialog-overlay: #101010b3;
    --dialog-background: #0e0e0e;
    --slider-background: #cccccc;
    --slider-checked: #239292;
    --font-family: "Roboto Mono", monospace;
}

[class*="hidden"] {
    display: none !important;
}

body {
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    box-sizing: border-box;
    padding: 8px;
    font-family: var(--font-family);
    font-size: 24px;
}

* {
    font-family: var(--font-family);
}

#custom_backlight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#custom_backlight textarea, #custom_backlight #custom_backlight_button {
    margin: 8px !important;
}

p, label, h1, button {
    margin: 8px;
}

.left {
    margin: 6px 0;
}

.right {
    justify-self: end;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background);
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 5px;
    bottom: 5px;
    background-color: var(--foreground);
    transition: .2s;
}

input:checked + .slider {
    background-color: var(--slider-checked);
}

input:checked + .slider:before {
    transform: translateX(21px);
}

input[type=color] {
    width: 64px;
}

input[type=color]::-webkit-color-swatch {
    height: 20px;
    border: 4px solid var(--foreground);
    border-radius: 0;
}

input[type=number] {
    border-radius: 0;
    border: 2px solid var(--foreground);
    background: var(--foreground)
}

select {
    border-radius: 0;
}

select, input[type=color] {
    cursor: pointer;
}

button {
    border: 2px solid var(--foreground);
    background-color: var(--foreground);
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

button:disabled {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

#ckm_input_script {
    font-size: 16px;
}

.dialog {
    max-width: 100%;
    width: 600px;
    background-color: var(--dialog-background);
    padding: 16px;
}

.dialog h1 {
    font-size: 28px;
}

.dialog p {
    font-size: 18px;
}

.dialog_background {
    background-color: var(--dialog-overlay);
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}